<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

    <title>Document</title>

    <style>
        body {
            font-family: Garamond, serif;;
        
    }
        *, ::after, ::before{
            box-sizing: unset;
        }
        .card {
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transition: 0.3s;
          width: 40%;
        }
        
        .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        
        .container {
          padding: 2px 16px;
        }
        /* button */
        .btn1 {
            border-radius: 0.5em;
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 8px 9px;
        font-size: 16px;
        cursor: pointer;
        width:auto;
        text-align: center;
        /* border-radius: 5px; */
        }

        /* Green */
        .success {
        border-color: #b30000;
        color: rgb(128, 0, 0);
        }

        .success:hover {
        background-color: #c00000;
        color: white;
        }
        .warning {
        border-color: #ff9800;
        color: orange;

        }

        .warning:hover {
        background: #ff9800;
        color: white;
        }
        /* Blue */
        .info {
        border-color: #2196F3;
        color: dodgerblue;
        
        }

        .info:hover {
        background: #2196F3;
        color: white;
        }

    
    </style>

    <script>
        function func(){
            document.getElementById("deck").style.visibility="visible";
        }
        function reply_click(clicked_id){
            // alert(clicked_id[2])
            document.getElementById("card-deck"+clicked_id.substring(2,)).style.visibility="visible";
            var m=document.getElementById("c"+clicked_id.substring(2,)).innerHTML;
            // alert(m);
            // document.getElementById("dd").innerHTML=m;            
        }
        function func1(id){
          document.getElementById("ff"+id.substring(1,)).style.visibility="visible";
          //var m=document.getElementById("c"+clicked_id.substring(2,)).innerHTML;
        }
        function func2(id){
          document.getElementById("fd"+id.substring(1,)).style.visibility="visible";
        }

    </script>
</head>
<body style="text-align:center; 
background-image: url('/static/5591276.jpg');background-repeat: no-repeat;
        background-attachment:scroll; 
        background-size: 100% 100%; background-attachment: scroll, local;;
        width: 1944px;
        min-height: 724px;
        height: 100%;
        width: 100%;">

    <div class="bg2" style="background-color:#011047;">
        <div class="p-3 mb-2 bg-dark text-white" style="padding: 0.8rem!important;">
            <h1 style="text-align: left;">Hi {{ current_user.f_name }},</h1>
            <h5 style="text-align: left;">Here you can see all the decks you have till now.</h5>  
        </div>
    </div>


    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" ><h4>Deck</h4></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" onclick="func()"><h4>Add Deck</h4></a>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                          <div class="card card-body" style="
                          flex: 1 1 auto;
                          padding-top: 13px;
                          padding-right: 30px;
                          padding-left: 30px;
                          padding-bottom: 11px;margin-right: 0px;
                          margin-left: 70px;
                          ">
                            <form id="deck" style="visibility: hidden;" action="/signin/deck/add/{{current_user.id}}" method="post">
                                <label for="dname"><b>Deck Name</b></label>
                                <input type="text" placeholder="Enter Deck Name" name="dname" required style="width: 126px;">
                                <br><br>
                                <button type="submit" >Add</button>
                                <button type="button"><a href="/signin/deck/{{current_user.id}}" style="text-decoration: none;">Cancel</a></button>
                            </form>
                        </div>
                    </div>
                  </div>
                </div>
              </li>

            <li class="nav-item">
                <a class="nav-link" href="/signin/{{current_user.id}}"><h4>Go Back</h4></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout"><h4>Log Out</h4></a>
            </li>

            </ul>
            </div>
        </nav>
    
    
    <div class="container mt-5">
        <!--  -->
    <!-- <h2>Deck</h2>
    </div>
    <div>
        <a href="/logout">Log Out</a>
    </div>
    <div>
        <a href="/signin/{{current_user.id}}">Go Back</a>
    </div>
    <hr> -->
    <div >
    {% set count = namespace(value=0) %}
    {% if rows %}
    {% for pow in rows %}
    
        <div class="card" style="padding-bottom: 30px; width: 9cm; height: 18cm; display : flex;flex-direction:column; float: left; margin-left: 80px; margin-bottom: 20px;" >
            <div class="containers" style="padding: 2px 1px;" >
                <h3 id="t1"><b id="c{{loop.index}}">{{pow[0]}}</b></h3> 
                <h4>Score: {{pow[1]}}</h4>
                <h4> Last visited: 
                    {% if pow[2]|float > 1 %}
                        {{pow[2]}}{{" days ago"}}
                    
                    {% elif pow[2]==None %}
                        {{"Not visited "}}   

                    {% else %}
                        {{ "%.1f"|format(pow[2]*24|float)}}{{" hours ago"}}
                    {% endif %}
                </h4>
                
                <p id="p1"><a href="/signin/deck/card/{{current_user.id}}/{{pow[0]}}">View cards </a></p>
                <p id="p1"><a href="/signin/deck/quiz/{{current_user.id}}/{{pow[0]}}">Start Quiz </a></p>
                <button id="bu{{loop.index}}" onclick="reply_click(this.id)" >Add Card</button><br><br>
        

                

                <form id="card-deck{{loop.index}}" style="visibility: hidden;" action="/signin/deck/card/{{current_user.id}}/{{pow[0]}}" method="post">
                    <label for="cname"><b>Card Front</b></label>
                    <input type="text" placeholder="Enter front description" name="front" required>
                    <br><br>
                    <label for="bname"><b>Card Back</b></label>
                    <input type="text" placeholder="Enter back description" name="back" required>
                    <br><br>
                    
                    <button type="submit" > Submit </button>
                </form>
            </div>
            <br>
            <form id="ff{{loop.index}}" action="/signin/deck/{{current_user.id}}/{{pow[0]}}/edit" style="visibility: hidden" method="POST">
                <label for="cname1"><b>Deck New name</b></label>
                <input type="text" placeholder="Enter Deck name" name="frontd" required>
                <br><br>
                
          
                <button type="submit" >submit</button>
              </form> 
              
                <form id="fd{{loop.index}}" style="visibility: hidden;" action="/signin/deck/{{current_user.id}}/{{pow[0]}}/delete" method="post">
                  <label for="dname3"><b>Are you Sure ? You want to delete the Deck.</b></label>
                  <!-- <input type="text" placeholder="Enter Deck Name" name="dname3" required> -->
                  <br><br>
                  <button type="submit" >Delete</button>
                  <!-- <button type="button"><a href="" style="text-decoration: none;">Cancel</a></button><br><br> -->
              </form><br>
            <button class="btn1 warning" id="c{{loop.index}}" type="submit" name="click" value="Edit" onclick="func1(this.id)" >Edit</button>
            <button class="btn1 success" id="b{{loop.index}}" type="submit" name="click" value="delete" onclick="func2(this.id)">Delete</button>
            
            <button class="btn1 info" type="submit" name="click" value="cancel"><a href="/signin/deck/{{current_user.id}}" style="text-decoration: none;">Cancel</a></button>
        </div>
        {% set count.value = count.value + 1 %}
        {% if count.value ==4 %}

            {% set count =  namespace(value=0) %}    
            <br><br>
        
        {% endif %}
    {% endfor %} 
    {% else %}
    <br>
    <h3><b>You have no Decks to start with. Add Decks to Begin.</b></h3>
    {% endif %}
       
</div>

</body>

</html>


